{% extends 'base.html' %}
{% block content %}
<div>
    {% if search_form %}
    <form action='' method='POST'>
        {% csrf_token %}
        {{ search_form }}
        <button type='submit'>Display</button>
    </form>
    {% endif %}
</div>

{% if patient_name %}
<h2>{{patient_name}}</h2>
{% endif %}

{% if data.error %}
<p>{{ data.error }}</p>

{% elif case_num %}
<ul>
    <li>Name: {{patient_name}}</li>
    <li>Identity Document Number: {{id_num}}</li>
    <li>Date of Birth: {{date_of_birth}}</li>
    <li>Date of Onset of Symptoms: {{date_of_onset}}</li>
    <li>Date of Confirmation of Infection by Testing: {{date_of_confirmation}}</li>
</ul>
{% else %}
<p>No data are available.</p>
{% endif %}
{% endblock %}