{% extends 'base.html' %}

{% block content %}
<div class="css container">
  <form action = '/event/' method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col s3">
        <h6>Case Number</h6>
      </div>
      <div class="input-field col s9">
        {{ form.case_num }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Patient Name</h6>
      </div>
      <div class="input-field col s9">
        {{ form.patient_name }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Identification Document Number</h6>
      </div>
      <div class="input-field col s9">
        {{ form.id_num }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Date of Birth</h6>
      </div>
      <div class="input-field col s9">
        {{ form.date_of_birth }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Date of Symptom Onset</h6>
      </div>
      <div class="input-field col s9">
        {{ form.date_of_onset }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Date of Confirmation after Testing</h6>
      </div>
      <div class="input-field col s9" >
        {{ form.date_of_confirmation }}
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Submit</button>
  </form>
</div>
{% endblock %}