{% extends 'base.html' %}

{% block content %}
<div class="css container">
  <form action="/addevent/" method="post">
    {% csrf_token %}
    <h5">Add Event for : {{case}}</h5>
    <div class="row">
      <div class="col s3">
        <h6>Venue Name</h6>
      </div>
      <div class="input-field col s9">
        {{ form.venue_name }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Venue Location</h6>
      </div>
      <div class="input-field col s9">
        {{ form.venue_location }}
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <h6>Date of Event</h6>
      </div>
      <div class="input-field col s9">
        {{ form.date }}
      </div>
    </div>  
    <div class="row">
      <div class="col s3">
        <h6>Description</h6>
      </div>
      <div class="input-field col s9">
        {{ form.description }}
      </div>
    </div>    
    <button class="btn waves-effect waves-light" type="submit">Save and Add Another</button>
  </form>
  <br>
  <a class="btn waves-effect waves-light" href="{% url 'home' %}">Homepage</a>
</div>
{% endblock %}