{% extends 'base.html' %}

{% block content %}
<div class="container center-align">
    <div class="row center">
        <div class="col s12"><h3>Welcome!</h3></div>
        <div class="col s12">
            <a class="waves-effect waves-light btn-large blue" href="{% url 'case-create' %}">Create Case Record</a>
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn-large blue" href="{% url 'search-case' %}">Search by Case Number</a>
        </div>
        <div class="col s12">
            <a class="waves-effect waves-light btn-large blue" href="{% url 'sse-list' %}">View Potential SSEs</a>
        </div>
    </div>
</div>
{% endblock %}