{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="css row">
            <div class="col s2 right-align" style="padding-top: 10px;">
                <h6>Start Date</h6>
            </div>
            <div class="input-field col s3" style="padding-top: 0px;">
                <input type="text" name="start" class="datepicker" required>
            </div>
            <div class="col s2 right-align" style="padding-top: 10px;">
                <h6>End Date</h6>
            </div>
            <div class="input-field col s3" style="padding-top: 0px;">
                <input type="text" name="end" class="datepicker" required>
            </div>
            <div class = "col s2">
                <button class="waves-effect waves-light btn" style="margin: 20px" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>
<div class="container-fluid center-align">
    {% if range %}
    <h5 style="color: blue"><b>Potential SSEs </b>from {{ range.0 }} to {{ range.1 }}</h5>
    <p>Potential SSEs are displayed in <ib style="color: grey">grey</ib> whereas SSEs are displayed in <ib style="color: red">red</p></ib>
    {% endif %}
    {% if error %}
        <h5 style="color: red">{{ error }}</h5>
    {% elif empty == True %}
        <h5 style="color: red">No records found</h5>
    {% elif data %}
        <table>
            <tr>
                <th width="10%">Date of event</th>
                <th width="10%">Venue Name</th>
                <th width="10%">Venue Location</th>
                <th width="10%">Address</th>
                <th width="10%">X Coordinate</th>
                <th width="10%">Y Coordinate</th>
                <th width="40%">Case Numbers|
                    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Status&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;|
                    &emsp;&emsp;&emsp;&emsp;Description</th>
            </tr>
            {% for key, value in data.items %}
            {% if value|length > 6 %}
            <tr style="background-color: rgb(216, 83, 83)">
            {% else %}
            <tr style="background-color: rgb(219, 202, 202)">
                {% endif %}
                <td>{{ key.0 }}</td>
                <td>{{ key.1 }}</td>
                <td>{{ key.2 }}</td>
                <td>{{ key.3 }}</td>
                <td>{{ key.4 }}</td>
                <td>{{ key.5 }}</td>
                <td>
                    <table>
                        {% for items in value %}
                        <tr>
                            <td width="5%">{{ items.2 }}</td>
                            {% if items.0 == True and items.1 == True%}
                            <td width="15%">Possible Infector<br>Possibly Infected</td>
                            {% elif items.0 == True %}
                            <td width="15%">Possible Infector</td>
                            {% elif items.1 == True %}
                            <td width="15%">Possibly Infected</td>
                            {% endif %}
                            <td width="15%">{{ items.3|truncatechars_html:30 }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>

{% endblock %}